apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-k8s
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-k8s
  template:
    metadata:
      labels:
        app: hello-k8s
    spec:
      containers:
        - name: hello-k8s
          image: kubesahilmalpotra/hello-k8s:v2
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: GREETING
              value: "Hello from sahil!"